<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.softgames.sdk"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application>
        <activity
            android:name="de.softgames.sdk.SoftgamesActivity"
            android:label="@string/sg_app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>